.Content {
  width: min(80%, calc(100% - 64px));

  background-color: #ffcc00;
  border: 20px;
  border-color: black;
  border-radius: 8px;
  padding: 12px 2%;
  margin: 1%;
  color: black;
  //min-width: 360px;
}
