$iconSide: 44px;
$lineColor: #5e5f79;

.SideBar {
  width: max(10%, 64px);
  padding-right: 6px;
  transition: 100ms;

  img {
    margin-left: 30px;
    margin-right: 5px;
    width: $iconSide;
    height: $iconSide;
    animation: spin infinite 20s linear;

  }

  >div {
    height: min(50%, calc(100vh - 32px));
    min-height: 480px;
    background-color: #ffcc00;
    border-radius: 8px;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 12px 10%;




  }

}


.NavBar {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-top: 1px solid $lineColor;
  margin-top: 12px;

  .link {
    max-width: 76px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    color: #000000;
    margin-top: 16px;
    padding: 6px 0;
    border-radius: 8px;
    border: 1px solid $lineColor;
    transition: 200ms;
    outline: none;
    background-color: #ffffff;

    &:hover {
      background-color: #ff0000;
      text-decoration: underline;
      color: #ffffff;
      border-color: #000000;
    }
    &:active {
      background-color: #313240;
    }
  }
}
.Auth {
  width: 100%;
  margin-bottom: 12px;
  margin-top: auto;
  border-bottom: 1px solid $lineColor;
  align-items: center;
  display: flex;
  flex-direction: column;

  >* {
    margin-bottom: 12px;
    width: 100%;
    max-width: 76px;
  }
}
.Github {
  outline: none;
  &:hover {opacity: 0.7}
}
